.centerCol {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.blockScreen{
    width: 900px;
    position: relative;
    display: inline-block;
}
