/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerContainer{
  display: flex;
  align-items: center;
}

.headerContainer img {
  width: 64px;
  height: auto;
  margin-right: 8px;
  margin-top: -10px;
}

.headerContainer p {
  white-space: nowrap;
}
.rotating {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.appName{
  font-weight: bold;
  font-size: 30px;
}
.os{
  font-weight: normal;
}
.thin{
  font-size: 15px;
  color: var(--ifm-navbar-link-color)
}